<%- include('header', pagetype="cars") %>

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 mt-5">
            <div class="card text-center">
                <h4 class="card-header text-center">Autók</h4>
                <div class="container">
                    <table class="table mt-3 table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Márka</th>
                                <th scope="col">Típus</th>
                                <th scope="col">Évjárat</th>
                                <th scope="col">Alkatrészek</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Opel</td>
                                <td>Astra</td>
                                <td>2019</td>
                                <td><a class="btn btn-dark btn-sm" href="opel/part" role="button">Tovább</a></td>
                            </tr>
                            <tr>
                                <td>Ford</td>
                                <td>Focus</td>
                                <td>2008</td>
                                <td><a class="btn btn-dark btn-sm" href="#" role="button">Tovább</a></td>
                            </tr>
                            <tr>
                                <td>Ford</td>
                                <td>Fiesta</td>
                                <td>2013 </td>
                                <td><a class="btn btn-dark btn-sm" href="#" role="button">Tovább</a></td>
                            </tr>
                            <tr>
                                <td>Suzuki</td>
                                <td>Swift</td>
                                <td>2005</td>
                                <td><a class="btn btn-dark btn-sm" href="#" role="button">Tovább</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <% if(loggedin){ %>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 mt-3">
            <div class="card text-center">
                <h4 class="card-header ">Szerkesztés</h4>
                <div class="container">
                    <form>
                        <div class="form-row">
                            <div class="col  my-4">
                                <input type="text" class="form-control" placeholder="Márka">
                            </div>
                            <div class="col  my-4">
                                <input type="text" class="form-control" placeholder="Típus">
                            </div>
                            <div class="col  my-4">
                                <input type="text" class="form-control" placeholder="Évjárat">
                            </div>
                        </div>
                    </form>
                    <button type="submit" class="btn btn-dark mb-3">Hozzáadás</button>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <% } %>

    <div class="row">
        <div class="col my-3">

        </div>
    </div>
</div>

<%- include('footer') %>