<%- include('header') %>

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 mt-5">
            <div class="card text-center">
                <h4 class="card-header">Kosár tartalma</h4>
                <div class="container">
                    <table class="table mt-3 table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Alkatrész</th>
                                <th scope="col">Gyártó</th>
                                <th scope="col">Ár</th>
                                <th scope="col">Mennyiség</th>
                                <th scope="col">Törlés</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>féktárcsa</td>
                                <td>Brembo</th>
                                <td>15 000FT</td>
                                <td>2</td>
                                <td>
                                    <button type="submit" class="btn btn-danger btn-sm"><i
                                            class="fas fa-times"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>féktárcsa</td>
                                <td>Brembo</th>
                                <td>15 000FT</td>
                                <td>2</td>
                                <td>
                                    <button type="submit" class="btn btn-danger btn-sm"><i
                                            class="fas fa-times"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>féktárcsa</td>
                                <td>Brembo</th>
                                <td>15 000FT</td>
                                <td>2</td>
                                <td>
                                    <button type="submit" class="btn btn-danger btn-sm"><i
                                            class="fas fa-times"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>féktárcsa</td>
                                <td>Brembo</th>
                                <td>15 000FT</td>
                                <td>2</td>
                                <td>
                                    <button type="submit" class="btn btn-danger btn-sm"><i
                                            class="fas fa-times"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>féktárcsa</td>
                                <td>Brembo</th>
                                <td>15 000FT</td>
                                <td>2</td>
                                <td>
                                    <button type="submit" class="btn btn-danger btn-sm"><i
                                            class="fas fa-times"></i></button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 mt-3">
            <div class="card">
                <div class="container">
                    <table class="table table-bordered mt-3">
                        <tbody>
                            <tr>
                                <th>Összesen</th>
                                <td colspan="3">150 000 FT</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <a class="btn btn-dark mb-3" href="buy.html" role="button">Megveszem</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col my-3"></div>
    </div>
</div>

<%- include('footer') %>