<%- include('header', pagetype="home") %>

<div class="container">
    <div class="card-deck mt-5">
        <div class="card" style="background-color:lightgray">
            <div class="card-body text-center">
                <img src="/opel.png" alt="#" class="card-img-top">
            </div>
            <div class="card-footer">
                <a class="btn btn-dark btn-lg btn-block" href="car/opel" role="button">Opel</a>
            </div>
        </div>
        <div class="card" style="background-color:lightgray">
            <div class="card-body text-center">
                <img src="/ford.png" alt="#" href="#" class="card-img-top">
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-dark btn-lg btn-block" href="car/ford">Ford</button>
            </div>
        </div>
        <div class="card" style="background-color:lightgray">
            <div class="card-body text-center">
                <img src="/suzuki.png" alt="#" class="card-img-top">
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-dark btn-lg btn-block" href="car/suzuki">Suzuki</button>
            </div>
        </div>
        <div class="card" style="background-color:lightgray">
            <div class="card-body text-center">
                <img src="/toyota.png" alt="#" class="card-img-top">
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-dark btn-lg btn-block" href="car/toyota">Toyota</button>
            </div>
        </div>
    </div>
</div>

<%- include('footer') %>