<%- include('header', pagetype="admin") %>
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 mt-5">
            <div class="card text-center">
                <h4 class="card-header text-center">Rendelések</h4>
                <div class="container">
                    <table class="table mt-3 table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Név</th>
                                <th scope="col">Ár</th>
                                <th scope="col">Kifizetve</th>
                                <th scope="col">Műveletek</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#123456</td>
                                <td>Példa Béla</td>
                                <td>150 000ft</td>
                                <td>igen</td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="parts-opel.html" role="button">
                                        <i class="far fa-envelope"></i>
                                    </a>
                                    <a class="btn btn-success btn-sm" href="parts-opel.html" role="button">
                                        <i class="fas fa-check"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="parts-opel.html" role="button">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>#123456</td>
                                <td>Példa Béla</td>
                                <td>150 000ft</td>
                                <td>igen</td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="parts-opel.html" role="button">
                                        <i class="far fa-envelope"></i>
                                    </a>
                                    <a class="btn btn-success btn-sm" href="parts-opel.html" role="button">
                                        <i class="fas fa-check"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="parts-opel.html" role="button">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>#123456</td>
                                <td>Példa Béla</td>
                                <td>150 000ft</td>
                                <td>igen</td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="parts-opel.html" role="button">
                                        <i class="far fa-envelope"></i>
                                    </a>
                                    <a class="btn btn-success btn-sm" href="parts-opel.html" role="button">
                                        <i class="fas fa-check"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="parts-opel.html" role="button">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>#123456</td>
                                <td>Példa Béla</td>
                                <td>150 000ft</td>
                                <td>igen</td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="parts-opel.html" role="button">
                                        <i class="far fa-envelope"></i>
                                    </a>
                                    <a class="btn btn-success btn-sm" href="parts-opel.html" role="button">
                                        <i class="fas fa-check"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="parts-opel.html" role="button">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>#123456</td>
                                <td>Példa Béla</td>
                                <td>150 000ft</td>
                                <td>igen</td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="parts-opel.html" role="button">
                                        <i class="far fa-envelope"></i>
                                    </a>
                                    <a class="btn btn-success btn-sm" href="parts-opel.html" role="button">
                                        <i class="fas fa-check"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="parts-opel.html" role="button">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col my-3">

        </div>
    </div>
</div>

<%- include('footer') %>