<%- include('header') %>

    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 mt-5">
                <div class="card text-center">
                    <h4 class="card-header">Alkatrészek</h4>
                    <div class="container">
                        <table class="table mt-3 table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Alkatrész</th>
                                    <th scope="col">Gyártó</th>
                                    <th scope="col">Ár</th>
                                    <th scope="col">Mennyiség</th>
                                    <th scope="col">Kosárba</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>féktárcsa</td>
                                    <td>Brembo</th>
                                    <td>15 000FT</td>
                                    <td>
                                        <input type="number" value="1" min="1" max="100" step="1" />
                                    </td>
                                    <td><button type="submit" class="btn btn-outline-success btn-sm">
                                            <i class="fas fa-plus"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>féktárcsa</td>
                                    <td>Brembo</th>
                                    <td>15 000FT</td>
                                    <td>
                                        <input type="number" value="1" min="1" max="100" step="1" />
                                    </td>
                                    <td><button type="submit" class="btn btn-outline-success btn-sm">
                                            <i class="fas fa-plus"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>féktárcsa</td>
                                    <td>Brembo</th>
                                    <td>15 000FT</td>
                                    <td>
                                        <input type="number" value="1" min="1" max="100" step="1" />
                                    </td>
                                    <td><button type="submit" class="btn btn-outline-success btn-sm">
                                            <i class="fas fa-plus"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>féktárcsa</td>
                                    <td>Brembo</th>
                                    <td>15 000FT</td>
                                    <td>
                                        <input type="number" value="1" min="1" max="100" step="1" />
                                    </td>
                                    <td><button type="submit" class="btn btn-outline-success btn-sm">
                                            <i class="fas fa-plus"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>féktárcsa</td>
                                    <td>Brembo</th>
                                    <td>15 000FT</td>
                                    <td>
                                        <input type="number" value="1" min="1" max="100" step="1" />
                                    </td>
                                    <td><button type="submit" class="btn btn-outline-success btn-sm">
                                            <i class="fas fa-plus"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>féktárcsa</td>
                                    <td>Brembo</th>
                                    <td>15 000FT</td>
                                    <td>
                                        <input type="number" value="1" min="1" max="100" step="1" />
                                    </td>
                                    <td><button type="submit" class="btn btn-outline-success btn-sm">
                                            <i class="fas fa-plus"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>féktárcsa</td>
                                    <td>Brembo</th>
                                    <td>15 000FT</td>
                                    <td>
                                        <input type="number" value="1" min="1" max="100" step="1" />
                                    </td>
                                    <td><button type="submit" class="btn btn-outline-success btn-sm">
                                            <i class="fas fa-plus"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>féktárcsa</td>
                                    <td>Brembo</th>
                                    <td>15 000FT</td>
                                    <td>
                                        <input type="number" value="1" min="1" max="100" step="1" />
                                    </td>
                                    <td><button type="submit" class="btn btn-outline-success btn-sm">
                                            <i class="fas fa-plus"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>féktárcsa</td>
                                    <td>Brembo</th>
                                    <td>15 000FT</td>
                                    <td>
                                        <input type="number" value="1" min="1" max="100" step="1" />
                                    </td>
                                    <td><button type="submit" class="btn btn-outline-success btn-sm">
                                            <i class="fas fa-plus"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>féktárcsa</td>
                                    <td>Brembo</th>
                                    <td>15 000FT</td>
                                    <td>
                                        <input type="number" value="1" min="1" max="100" step="1" />
                                    </td>
                                    <td><button type="submit" class="btn btn-outline-success btn-sm">
                                            <i class="fas fa-plus"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 mt-3">
                <div class="card text-center">
                    <h4 class="card-header ">Szerkesztés</h4>
                    <div class="container">
                        <form>
                            <div class="form-row">
                                <div class="col  my-4 ml-4">
                                    <input type="text" class="form-control" placeholder="Alkatrész">
                                </div>
                                <div class="col  my-4">
                                    <input type="text" class="form-control" placeholder="Gyártó">
                                </div>
                                <div class="col  my-4 mr-4">
                                    <input type="text" class="form-control" placeholder="Ár">
                                </div>
                            </div>
                        </form>
                        <button type="submit" class="btn btn-dark mb-3">Hozzáadás</button>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col my-3"></div>
        </div>
    </div>

<%- include('footer') %>