<%- include('header', pagetype="login") %>

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card mt-5" style="background-color:lightgray">
                <h5 class="card-header text-center">Belépés</h5>
                <div class="container">
                    <% if(typeof error !== 'undefined'){ %>
                    <div class="alert alert-warning alert-dismissible fade show text-center my-3" role="alert">
                        <strong>Hoppá!</strong> Nem megfelelő jelszó/email!<br><a href="#" class="alert-link">Elfelejtettem
                            a jelszavam :(</a>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <% } %>
                    <form action="/login" method="post">
                        <div class="form-group my-3 mx-4">
                            <label for="exampleInputEmail1">Email cím</label>
                            <input type="email" class="form-control" id="email" name="email"
                                aria-describedby="emailHelp" placeholder="Email cím">
                        </div>
                        <div class="form-group my-3 mx-4">
                            <label for="exampleInputPassword1">Jelszó</label>
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Jelszó">
                        </div>
                        <div class="text-center">
                            <button class="btn btn-dark my-3 mx-4" role="button">Login</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>

<%- include('footer') %>