<%- include('header') %>

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 mt-5">
            <div class="card text-center">
                <h4 class="card-header">Személyes adatok</h4>
                <div class="container my-3">
                    <form action="/order" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">Név</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Név">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="city">Város</label>
                                <input type="text" class="form-control" id="city" name="city">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="county">Megye</label>
                                <select id="county" name="county" class="form-control">
                                    <option selected>Válassz...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="postcode">Irányítószám</label>
                                <input type="text" class="form-control" id="postcode" name="postcode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address">Cím</label>
                            <input type="text" class="form-control" id="address" name="address"
                                placeholder="pl: 1117, Budapest, Irinyi József u. 42.">
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 my-3">
            <div class="card text-center">
                <h4 class="card-header">Banki adatok</h4>
                <div class="container my-3">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCardName">Kártyán szereplő név</label>
                                <input type="text" class="form-control" id="cardname" name="cardname">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCardNum">Kártyaszám</label>
                                <input type="text" class="form-control" id="cardnum" name="cardnum">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3"></div>
                            <div class="form-group col-md-3">
                                <label for="inputCardDate">Lejárat</label>
                                <input type="text" class="form-control" id="date" name="date">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputCardCode">Biztonsági kód</label>
                                <input type="password" class="form-control" id="code" name="code">
                            </div>
                            <div class="form-group col-md-3"></div>
                        </div>
                        <button type="submit" class="btn btn-success">Megrendelem</button>
                        <button class="btn btn-danger" href="/cart">Mégsem</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col my-3"></div>
    </div>
</div>

<%- include('footer') %>